
.Header{
    background-color:#775f55;
    max-width: 700px;
    width: 100%;
    color: white;
    margin: auto;
    
}
.N{
    margin:auto;
    margin-left: 30px;
}
.Hs{
    background-color:#b85a22;
    max-width: 230px;
    width: 100%;
    color: white;
    margin-left:332px;
    float: left;
}
.Hs2{
    background-color:#94b6d2;
    max-width: 440px;
    width: 100%;
    color: white;
    margin-right:340px;
    float: right;
}

